
html { 
    background-color: #EDE5D8; 

}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-left: 60px ;   
    padding-top: 80px ; 
} 

.title { 
    width : 1080px ; 
    height : auto ; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;  
    /* border: 1px solid red;  */
}

.title img {
    width: 30%;
    height: auto;
} 

.slogan { 
        width : 1080px ; 

    margin-top: 100px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
     /* border: 1px solid red;   */
}

.slogan img {
       width: 50%;
    height: auto;   

}   

.slogan p {
    font-size: 36px; 
    font-weight: 600;
}


.description { 
    margin-top: 100px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    font-size: 18px;
}

.description img {
    width: 30%;
    height: auto; 
    line-height: 2 ;
}

.vision { 
     margin-top: 100px ;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1rem;
} 

.vision p {
    font-size: 32px;  
     font-weight: 600; 
} 

.vision span {
    font-size: 18px ; 
}